.page {
  position: fixed;
  width: 100vw;
  bottom: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  padding: 30px;
  z-index: 1000;
  gap: 16px;
  border-radius: 15px 15px 0px 0px;
  background-color: #171e2e;
  transition: transform 1s ease-in-out;
  transform: translateY(100%);
  overflow: hidden;
  overflow-y: scroll;
  height: 80vh;
}

.page::-webkit-scrollbar {
  width: 0.5em;
}

.page::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.shadow-background {
  transition: background-color 2s;
  z-index: 1;
  background-color: rgba($color: #000000, $alpha: 0);
  transform: translateY(100%);
  width: 100vw;
  height: 100vh;
  border-radius: 0px;
}

.left-part {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 20px;
  text-align: center;
  padding: 20px;
}
.right-part {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  color: white;
}

.text-container {
  max-width: 85%;
  background-color: #242b3a;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.info-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  flex-direction: row;
}

.logos-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: row;
}

.border-radius {
  border-radius: 50px;
  background-color: rgba($color: #fff, $alpha: 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 16px;
}

.line-separator {
  background-color: rgba($color: #fff, $alpha: 0.4);
  width: 100%;
  min-height: 1px;
}

.code-img {
  max-width: 650px;

  width: 100%;
  height: 184px;
  border-radius: 25px;
}

.img-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.xmark {
  position: absolute;
  right: 20px;
  top: 20px;
}

.midle-part {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: bottom;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  color: white;
}

#img-bolt,
#img-JA,
#img-Marshall,
#img-EVA {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  cursor: none;
}

#img-bolt {
  background-image: url("../assets/Thumbnailbolt.png");
}
#img-JA {
  background-image: url("../assets/ThumbnailJessicaAroztegui.png");
}
#img-Marshall {
  background-image: url("../assets/Thumbnailmarshall.png");
}
#img-EVA {
  background-image: url("../assets/ThumbnailEVA.png");
}
