@media screen and (max-width: 710px) {
  .title {
    font-family: Manrope;
    font-size: 44px;
    font-weight: 700;
    text-shadow: -8px -6px rgba($color: #000000, $alpha: 30%);
  }

  .subtitle {
    font-family: Manrope;
    font-size: 36px;
    font-weight: 700;
    text-shadow: -8px -6px rgba($color: #000000, $alpha: 30%);
  }

  .map {
    left: -530px;
    top: -646px;
  }

  .PP {
    width: 275px;
    height: 275px;
  }
  .parent {
    display: flex;
    flex-direction: column;
  }

  .left-part,
  .right-part {
    width: 100%;
  }

  .card-text {
    bottom: -36px;
  }

  .page {
    flex-direction: column;
  }
}
