@media screen and (max-width: 850px) {
  .title {
    font-family: Manrope;
    font-size: 40px;
    font-weight: 700;
    text-shadow: -8px -6px rgba($color: #000000, $alpha: 30%);
  }

  .subtitle {
    font-family: Manrope;
    font-size: 32px;
    font-weight: 700;
    text-shadow: -8px -6px rgba($color: #000000, $alpha: 30%);
  }

  .map {
    left: -540px;
    top: -628px;
  }

  .PP {
    width: 250px;
    height: 250px;
  }
}
