@media screen and (max-width: 1440px) {
  .map {
    width: 2500px;
    height: 1700px;
    left: auto;
    top: auto;
    overflow: auto;
    left: -547px;
    top: -654px;
  }

  .infos-user {
    left: 44.5%;
  }

  .page-subtitle {
    font-size: 20px;
  }

  .page-text {
    font-size: 16px;
  }
}
