@media screen and (max-width: 970px) {
  .title {
    font-family: Manrope;
    font-size: 44px;
    font-weight: 700;
    text-shadow: -8px -6px rgba($color: #000000, $alpha: 30%);
  }

  .subtitle {
    font-family: Manrope;
    font-size: 36px;
    font-weight: 700;
    text-shadow: -8px -6px rgba($color: #000000, $alpha: 30%);
  }

  .PP {
    width: 275px;
    height: 275px;
  }
}
