@media screen and (max-width: 768px) {
  .map {
    width: 100vw;
    height: 100vh;
    left: auto;
    top: auto;
    overflow: auto;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 148px;
    padding-top: 50px;
    padding-bottom: 90px;
  }

  .card-text {
    bottom: -40px;
    opacity: 1;
  }

  .JA .card-text {
    bottom: -40px;
  }

  .PP {
    width: 250px;
    height: 250px;
    filter: grayscale(0%);
  }

  .parent {
    gap: 60px;
  }

  .cursor {
    display: none;
  }
  .cursor--text {
    display: none;
  }

  .cursor--small {
    display: none;
  }

  .cursor--large {
    display: none;
  }
}
